<template>
    <div class="">
        <div class="item-node">
            <template if:true={navigationItems}>
                <template for:each={navigationItems} for:item="item">
                    <c-nm-brc-sidebar-node class="item-node-i" key={item.key} node={item}>
                    </c-nm-brc-sidebar-node>
                </template>
            </template>
        </div>
        
    </div>
</template>