<template>

    <div>
        <lightning-layout horizontal-align="spread" >
            <lightning-layout-item size="1" class="slds-p-top_small slds-p-bottom_small slds-p-right_small">
                <template if:true={showOrderNumber}>
                    <div class={orderClass}>{node.order}</div>
                </template>
                <template if:true={showAsCompleted}>
                    <div class={orderClass}>
                        <lightning-icon icon-name="utility:check" variant="inverse" size="xx-small"></lightning-icon>
                    </div>
                </template>
            </lightning-layout-item>
            <lightning-layout-item size="11" class="slds-p-top_small slds-p-bottom_small slds-p-right_small">
                <div class="slds-p-left_small">
                    <template if:true={isChild}>
                        <span class={itemClassChild} onclick={handleSidebarClick}>{node.order}&nbsp;{node.name}</span>
                    </template>
                    <template if:false={isChild}>
                        <span class={itemClass} onclick={handleSidebarClick}>{node.name}</span>
                    </template>
                </div>
            </lightning-layout-item>
        </lightning-layout>

        <template if:true={expandChildren}>
            <template for:each={node.items} for:item="item">
                <c-nm-brc-sidebar-node node={item} key={item.key} is-child=true></c-nm-brc-sidebar-node>
            </template>
        </template>
    </div>
</template>