<template>
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..." variant="brand">
                </lightning-spinner>
            </div>
        </div>
    </div>
    <article class="slds-card card-margin slds-p-top--small slds-p-bottom--small margin-zero container-top"
        style="width: 100%;">
        <div class="set-margin">
            <div class="slds-grid slds-grid_align-spread slds-wrap">
                <div class="slds-col">
                    <span class="main-heading">{applicationType}</span>
                </div>
                <div class="slds-col">
                    <template if:false={showIntroduction}>
                        <button class="slds-button slds-float--none slds-button_neutral action-button"
                            onclick={handleExit}><span><strong>EXIT</strong></span></button>
                        <template if:false={showReviewSubmit}>
                            <button class="slds-button slds-float--none  slds-button_brand action-button"
                                data-save={getCurrentPage} onclick={handleSaveExit}><span><strong>SAVE AND
                                        EXIT</strong></span></button></template></template>
                </div>
            </div>
        </div>
    </article>
    <div class="slds-grid slds-wrap slds-p-top--large set-margin">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-12 slds-large-size_3-of-12 sticky-container">

            <c-nm-brc-sidebar navigation-items={navigationItems} onsidebarclick={handleSidebarClick}>
            </c-nm-brc-sidebar>

        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_9-of-12 slds-large-size_9-of-12 paragraph">
            <div class="slds-card card-margin" if:true={showIntroduction}>
                <!-- 1st screen -->
                <div class="controls">
                    <div style=" display:flex;
                        justify-content: flex-end;" class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="action-button  slds-button slds-float--none  slds-button_neutral action-button"
                            onclick={handleCancel}>Cancel</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Introduction} onclick={handleNext}>Next</button>
                    </div>
                </div>
            </div>
            <div class="slds-card card-margin" if:true={showPersonalInformation}>
                <!-- 2nd screen -->
                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Personal_Information} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Personal_Information} onclick={handleNext}>Save And Next</button>
                    </div>
                </div>
            </div>

            <div class="slds-card card-margin" if:true={showChildCareEligibility}>
                <!-- 3rd screen -->
                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Child_Care_Eligibility} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Child_Care_Eligibility} onclick={handleNext}>Save And
                            Next</button>
                    </div>
                </div>
            </div>

            <div class="slds-card card-margin" if:true={showCHRIAInformation}>
                <!-- 4th screen -->
                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.CHRIA_Information} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.CHRIA_Information} onclick={handleNext}>Save And Next</button>
                    </div>
                </div>
            </div>

            <div class="slds-card card-margin" if:true={showHouseholdAliasesAndAddresses}>
                <!-- 5th screen -->
                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Aliases_and_Addresses} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Aliases_and_Addresses} onclick={handleNext}>Save And Next</button>
                    </div>
                </div>
            </div>
            <div class="slds-card card-margin" if:true={showAliasesForNameChange}>
                <!-- 6th screen -->
                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Aliases_Information} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Aliases_Information} onclick={handleNext}>Save And Next</button>
                    </div>
                </div>
            </div>

            <div class="slds-card card-margin" if:true={showHouseholdEmployment}>
                <!-- 7th screen -->
                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Employment} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Employment} onclick={handleNext}>Save And Next</button>
                    </div>
                </div>
            </div>


            <div class="slds-card card-margin" if:true={showEmploymentEligibility}>
                <!-- 8th screen -->

                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Employment_Eligibility} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            data-page={stepsObj.Employment_Eligibility} onclick={handleNext}>Save And
                            Next</button>
                    </div>
                </div>
            </div>

            <div class="slds-card card-margin" if:true={showReviewSubmit}>
                <!-- 9th screen -->

                <div class="controls">
                    <div style=" display:flex;
                          justify-content: flex-end;"
                        class="slds-m-left_small slds-m-right_small slds-m-bottom_medium">
                        <button class="slds-button slds-float--none  slds-button_neutral action-button"
                            data-page={stepsObj.Review_and_Submit} onclick={handleBack}>Previous</button>
                        <button class="slds-button slds-float--none  slds-button_brand action-button"
                            onclick={handleSubmit} data-page={stepsObj.Review_and_Submit}>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template if:true={existing}>
        <section role="dialog" tabindex="-1" aria-label="Meaningful description of the modal content" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p class=" slds-p-around_large slds-text-align_center paragraph">Do you wish to exit the
                        application? Unsaved changes will be lost.</p>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_outline-brand action-button"
                        onclick={closeExit}>Cancel</button>
                    <button class="slds-button slds-button_brand action-button" onclick={continueExit}>Continue</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>