.slds-card {
    background: #fff;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 7, 7, .5);
    z-index: 15000;
}

.spinner {
    position: fixed;
    top: 49%;
    left: 49%;
}

.set-margin {
    width: 85%;
    margin: auto;
}

.margin-zero {
    margin: 0 !important;
}

.sticky-container {
    position: sticky;
    top: 4rem;
}

.container-top {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1 !important;
}
.action-button {
    font-size: 1rem;
}